- let n0 = 12, n1 = 3;
- let n = n0*n1;

body(style=`--n0: ${n0}; --n1: ${n1}; --n: ${n}`)
	style
		- for(let j = 0; j < n0; j++)
			| .spark:nth-child(n + #{j*n1 + 1}) { --i: #{j} }
		- for(let j = 0; j < n1; j++)
			| .spark:nth-child(#{n1}n + #{j + 1}) { --j: #{j} }
	.a
		while n--
			.spark