- var d = 225, o = -.5*d, vb = [o, o, d, d].join(' ');
- var r = [14.5, 9.5, 10, 43, 57, 20, 29, 15];

mixin star(p, q, r, x0, y0)
	- var p = p || 3, q = q || 1, r = r || 20;
	- var ba = 2*Math.PI*q/p;
	- var v = [];
	- for(var i = 0; i < p; i++) {
		- var ca = i*ba - .5*Math.PI;
		- var x = (x0 || 0) + r*Math.cos(ca);
		- var y = (y0 || 0) + r*Math.sin(ca);
		- v.push([+x.toFixed(2), +y.toFixed(2)]);
	- }
	polygon.star(points=v.join(' '))
	
mixin starshape(n, ro, ri, x0, y0)
	- var n = n || 3, ro = ro || 50, ri = ri || 32;
	- var ba = Math.PI/n;
	- var v = [];
	- for(var i = 0; i < 2*n; i++) {
		- var ca = i*ba - .5*Math.PI;
		- var cr = i%2 ? ri : ro
		- var x = (x0 || 0) + cr*Math.cos(ca);
		- var y = (y0 || 0) + cr*Math.sin(ca);
		- v.push([+x.toFixed(2), +y.toFixed(2)]);
	- }
	polygon.starshape(points=v.join(' '))

.weather
	svg.state(viewBox=vb)
		path(d=`M-40-15h38a${r[0]} ${r[0]} 0 1 0-13-23
						M-35 4h65a${r[1]} ${r[1]} 0 1 0-6-16
						M-40 23h63a${r[2]} ${r[2]} 0 1 1-6 16`)
	
	svg.state(viewBox=vb)
		path(d=`M-24-33a${r[3]} ${r[3]} 0 1 0 61 59
									 a${r[4]} ${r[4]} 0 0 1-61-59z`)
		+star(5, 2, 22.5, 8.5, -30)
		+star(5, 2, 15, 32.5, 1)
	
	svg.state(viewBox=vb)
		radialGradient#rg(gradientUnits='userSpaceOnUse' cx='0' cy='0')
			- for(var i = 0; i < 6; i++) {
				- var dr = +(.08*(2 + ~~(i/2)) - ((i + 1)%2)*.01).toFixed(2);
				- var a = (~~((i + 1)/2))%2 ? null : 0;
				stop(stop-color='currentColor' stop-opacity=a offset=dr)
			- }
		+starshape(6)
	
	svg.state(viewBox=vb)
		path(d=`M-33 29a${r[5]} ${r[5]} 0 1 1 6-40
									 a${r[6]} ${r[6]} 0 0 1 56 10
									 a${r[7]} ${r[7]} 0 0 1 9 30z`)